<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Reset password</h1>
                <p class="mb-4">Please Enter the password for your account</p>
            </div>
            <form class="user">
                <div class="form-group" style="margin-bottom: 30px;">
                    <input style="margin-bottom: 10px;" ng-model="UpdatePasswordRequest.password1" type="password"
                        class="form-control form-control-user" id="exampleInputPassword"
                        placeholder="Enter password...">

                    <input ng-model="UpdatePasswordRequest.password2" type="password"
                        class="form-control form-control-user" id="exampleInputPassword"
                        placeholder="Enter password final ...">
                </div>
                <a data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-user btn-block">
                    Confirm
                </a>
                <!-- Modal -->
                <div ng-show="modalVisible" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Are you sure you
                                    want to change?
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button ng-click="updatePassword()" type="button" class="btn btn-success"
                                    data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal END -->

                <div class="text-center" style="margin-top: 10px;">
                    <a class="small" href="#login">Already have an account? Login!</a>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>